:root{
    --prime: #00111c;
    --lighter: #192e3d;
    --darker: #00090f;
    --rate: #ffe246;
    --bright-yellow: #fff75e;
    --text: #b1d7ef;
    --darker-text:#71899a;
    --light-prime: #003a61;
    --hard-dark:#000407;
    --uncommon: #2c2c2c;
}
body{
    background-color: var(--prime);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.movies{
    width: 85%;
}
.movies-grid,
.griddd {
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;

        background-color: var(--prime);
        margin-left: 240px;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 60px;
    box-shadow: 0px 10px 20px var(--darker);
    z-index: 101;
    background-color: var(--prime);
    width: 100%;
}
.rel{
    position: relative;
}
.imagee{
    height: 300px;
    width: 200px;
    object-fit: cover;
    margin: 0;

}
.app-title{
    position: fixed;
    left: 20px;
    top: 0px;
    font-size: 25px;
    color: var(--rate);
}
.app-title:hover{
    cursor: pointer;
}
.app-title i{
    opacity: 0.5;
}
.sidebar{
    margin-top: 60px;
    height: 100%;
    position: fixed;
    width: 200px;
    background-color: var(--darker);
    box-shadow: 0px 5px 10px var(--darker);
    z-index: 102;
    display: flex;
    justify-content: center;

}
.app{
    display: flex;
}
.movie-card{
    position: relative;
    height: 350px;

}
.movie-card:hover{
    cursor: pointer;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: var(--darker);
    height: 40px;
    font-size: 18px;
    margin:  0;
    margin-top: -5px;
    padding: 0;
    color: var(--text);
    padding: 5px 0;

}
.tr-title{
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--rate);
    text-shadow: -5px 3px 5px var(--darker);
    font-weight: 900;
    font-size: 50px;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), var(--rate));
    height: 80px;
    margin-left: 240px;
}
.rating{
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), var(--darker));
    position: absolute;
    top:0px;
    left:0px;
    padding: 5px;
    font-size: 15px;
    width: 50%;
    margin: 0;
    color: var(--rate);
    /* text-shadow:
            -1px -1px 5px #000,
            1px -1px 5px #000,
            -1px 1px 5px #000,
            1px 1px 5px #000;
    
     */
}

.link{
    font-size: 15px;
    text-decoration: none;
    color:var(--rate);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    position: absolute;
    top: 10px;
    right: 50px;
    font-weight: 600;
    border-radius: 20px;
    border: 2px solid var(--rate);
    padding: 2px 5px;
}

.details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    
}
.infoo{
    display: flex;
    flex-direction: row;
}
.movie-info{
    display: flex;
    width: 1000px;
    position: relative;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
        background-color: var(--lighter);
    height: 930px;
    color: var(--text);
    /* box-shadow: 10px 10px 5px var(--darker); */
    border-radius: 20px;
    border: 5px solid var(--rate);
    margin-bottom: 50px;
}
.info{
    padding-left: 30px;
    padding-top: 20px;
}
.poster{
    margin-top: 25px;
    margin-left: 25px;
    width: 350px;
    height: 450px;
    background-color: var(--prime);
}
.vote{
    display: flex;
    color: var(--rate);
}
.genres{
    display: flex;
}
.movie-title{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.date{
    margin: 0;
    font-size: 20px;
}
.vote-count{
    margin-left: 20px;
    font-size: 20px;
}
.average-vote{
    font-size: 20px;
}
.genre{
    margin-left: 10px;
    background-color: var(--light-prime);
    width: 150px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 0 5px;
}
.desc{
    color: var(--darker-text);
    height: 200px;
    width: 550px;
    font-size: 13px;

}
.input{
    width: 800px;
    background-color: var(--lighter);
    
    height: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
input{
    width: 100%;
    background: none;
    border: none;
    font-size: 20px;
    color: var(--rate);
    padding-left: 10px;
    text-decoration: none;
}
input::placeholder{
    color:var(--darker);
}
.fa-magnifying-glass{
    margin-right: 20px;
    font-size: 25px;
    color: var(--darker);
}
input:focus {
    outline-width: 0;
}
.search-part {
    display: flex;
    flex-direction: column;
}
.search-results{
    display: flex;
    flex-direction: column;
    background-color: var(--darker);
    height: 500px;
    width: 800px;
    position: absolute;
    top: 60px;
    z-index: 100;

}
.movie-result{
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--bright-yellow);
    
}
.img-search{
    width: 70px;
    height: 80px;
    margin-left: 30px;
}
.search-title{
    color: var(--bright-yellow);
    text-align: center;
    margin: 0;
    font-size: 15px;
    opacity: 0.7;
}

.title-search{
   display: flex;
   justify-content: left;
   align-items: center;
   margin: 0;
   font-size: 25px;
}
.search-item-text{
    display: flex;
    flex-direction: column;
    color: var(--darker-text);
    margin-left: 20px;
}
.desc-search{
    display: flex;
        justify-content: center;
        align-items: left;
        margin: 0;
        font-size: 13px;
        opacity: 0.8;
}



.reccomendations{
    display: flex;
    align-items: center;
        justify-content: center;
        flex-direction: column;
    /* margin-top: 50px;
    height: 500px;
    width: 400px;
    background-color: var(--lighter);

    color: var(--text);
    border-radius: 20px;
    border: 10px solid var(--rate); */
}
.rec-title{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.separator{
    margin-top: 20px;
    width: 500px;
    height: 1px;
    background-color: var(--rate);

}
.sep-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rec-container{
    width: 95%;
    height: 350px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.movie-rec{
    margin: 0 20px;
    height: 300px;
    width: 200px;
    position: relative;
}
.title-of-movie-rec{
    color: var(--rate);
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 10px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    padding-bottom: 25px;
    width: 200px;
}
::-webkit-scrollbar {
    height: 10px;
    margin-top: 10px;
    margin-bottom: 30p;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--darker-text);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--darker);
    border-radius: 10px;
}
.fa-circle-xmark{
    margin-top: 5px;
    position: absolute;
    top: 11px;
    right: 16px;
    font-size: 
    25px;
    color: var(--rate);
}
.fa-circle-xmark:hover{
    cursor: pointer;
}
/* Handle on hover */
.movieInfoPage{
    position: absolute;
    width: 100%;
}
.img-rec{
    opacity: 0.5;
    transition: 0.25s;
}
.img-rec:hover{
    opacity: 1;
}
.genres-container{
    display: flex;
    flex-direction: column;
}

.movies-by-genre-page,
.search-page{
    display: flex;
    width: 85%;
    height: 85%;
    background-color: var(--prime);
    position: absolute;
    z-index: 99;
    flex-direction: column;
    
}
.by-genre-grid,
.search-grid{
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        background-color: var(--prime);
        margin-left: 240px;
}
.genree{
    margin-top: 10px;
    background-color: var(--prime);
    border: 3px solid var(--prime);
    color: var(--rate);
    font-weight: 600;
    height: 24px;
    border-radius: 10px;
    opacity: 0.5;
    transition: 0.25s;
}
.genree:hover{
    cursor: pointer;
    background-color: var(--rate);
        border: 3px solid var(--prime);
        color: var(--prime);
    opacity: 1;
}
